.main {
	z-index: 3;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vh;
	max-width: 800px;
	gap: 2rem;
	color: #fff;
	font-size: 12px;
}

.stats {
	height: 40px;
	font-size: 2rem;
	text-align: center;
}

.drawing {
	position: relative;
}

.body,
.rightArm,
.leftArm,
.rightLeg,
.leftLeg,
.rope,
.topPole,
.pole,
.basePole {
	background: currentcolor;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 1px currentColor;
}

.head {
	width: 85px;
	height: 85px;
	border: 9px solid currentColor;
	box-shadow: 0px 0px 20px 1px currentColor;
	position: absolute;
	top: 47px;
	right: -37px;
}
.body {
	width: 10px;
	height: 100px;
	position: absolute;
	top: 130px;
	right: 0;
}
.rightArm {
	width: 100px;
	height: 10px;
	position: absolute;
	top: 160px;
	right: -98px;
	rotate: -30deg;
	transform-origin: left bottom;
}
.leftArm {
	width: 100px;
	height: 10px;
	position: absolute;
	top: 160px;
	right: 8px;
	rotate: 30deg;
	transform-origin: right bottom;
}

.rightLeg {
	width: 100px;
	height: 10px;
	position: absolute;
	top: 216px;
	right: -90px;
	rotate: 60deg;
	transform-origin: left bottom;
}

.leftLeg {
	width: 100px;
	height: 10px;
	position: absolute;
	top: 216px;
	right: 0;
	rotate: -60deg;
	transform-origin: right bottom;
}

.rope {
	height: 50px;
	width: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.topPole {
	height: 10px;
	width: 200px;
	margin-left: 120px;
}
.pole {
	height: 400px;
	width: 10px;
	margin-left: 120px;
	margin-top: -10px;
}
.basePole {
	height: 10px;
	width: 250px;
	margin-top: -10px;
	background: currentColor;
}

.letter {
	display: flex;
	gap: 0.25em;
	font-size: 6rem;
	font-weight: bold;
	text-transform: uppercase;
	font-family: monospace;
}

.underline {
	border-bottom: 0.1em solid currentColor;
}

.keyboard {
	align-self: stretch;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
}
.keyboard > button {
	width: 70px;
	max-width: 70px;
	height: 70px;
	flex: 1 1 70px;
	background: none;
	aspect-ratio: 1 / 1;
	font-size: 2.5rem;
	text-transform: uppercase;
	padding: 0.5rem;
	font-weight: bold;
	color: currentColor;

	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	transition: all 0.2s ease-in-out;
}

.keyboard > button.active {
	background-color: hsla(122, 100%, 50%, 0.6);
	color: white;
}

.keyboard > button.inactive {
	opacity: 0.3;
}

.keyboard > button:hover:not(:disabled),
.keyboard > button:focus:not(:disabled) {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0px 0px 20px 1px #ffbb763f;
	border: 1px solid rgba(255, 255, 255, 0.454);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
