.main {
	z-index: 3;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vh;
	max-width: 800px;
	gap: 1rem;
	color: currentColor;
	font-size: 12px;
}

.stats,
.hint {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 40px;
	padding-right: 30px;
	gap: 0.5rem;
	font-size: 1rem;
	text-align: center;
}
.stats > button {
	border-radius: 20px;
	font-size: small;
	transition: all 0.3s ease-in-out;
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.letter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.1em 0.3em;
	font-size: 5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-family: monospace;
}

.underline {
	border-bottom: 0.1em solid currentColor;
}

button {
	background: none;
	text-transform: uppercase;
	padding: 0.5rem;
	color: currentColor;

	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	transition: all 0.2s ease-in-out;
}

button:hover:not(:disabled),
button:focus:not(:disabled) {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0px 0px 20px 1px #ffbb763f;
	border: 1px solid rgba(255, 255, 255, 0.454);
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

@media (prefers-color-scheme: light) {
	.stats > button {
		background: #b7b7b7;
	}
	button:hover:not(:disabled),
	button:focus:not(:disabled) {
		background: rgba(95, 91, 91, 0.3);
		border: 1px solid rgba(47, 46, 46, 0.454);
	}
}

@media (max-width: 400px) {
	.main {
		width: 100%;
		max-width: 500px;
		gap: 1rem;
	}
	.stats {
		font-size: unset;
	}
	.stats > button {
		font-size: xx-small;
	}
	.letter {
		margin-top: 20px;
		font-size: 2rem;
	}
}
