.keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
}
.keyboard > button {
	width: 70px;
	max-width: 70px;
	height: 70px;
	flex: 1 1 70px;
	background: none;
	aspect-ratio: 1 / 1;
	font-size: 2.5rem;
	text-transform: uppercase;
	padding: 0.5rem;
	border-radius: 50%;
	font-weight: bold;
	color: currentColor;

	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	transition: all 0.2s ease-in-out;
}

.keyboard > button.active {
	background-color: hsl(113, 100%, 80%, 1);
	box-shadow: 0px 0px 20px 1px #ffbb763f;
	border: 1px solid rgba(255, 255, 255, 0.454);
	color: currentColor;
}

.keyboard > button.inactive {
	opacity: 0.3;
	color: darkgray;
}

@keyframes winner {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

@media (prefers-color-scheme: light) {
	.keyboard > button {
		background-color: #b7b7b7;
	}
	.keyboard > button.active {
		box-shadow: 0px 0px 20px 1px hsl(113, 100%, 80%, 1);
		border: 1px solid rgba(255, 255, 255, 0.454);
	}
}

@media (prefers-color-scheme: dark) {
	.keyboard > button.active {
		color: black;
	}
}

@media (max-width: 820px) {
	.keyboard > button {
		max-width: 60px;
		max-height: 60px;
		font-size: 2rem;
	}
}

@media (max-width: 500px) {
	.keyboard {
		gap: 0.5rem;
	}
	.keyboard > button {
		width: 30px;
		max-width: 30px;
		height: 40px;
		font-size: 1.4rem;
		padding: 0.3rem;
		border-radius: 5px;
		font-weight: normal;
	}
}
