*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	display: grid;
	height: 100%;
	min-height: 100vh;
	place-items: center;
	padding: 0 24px;
	color: currentColor;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	animation: gradient 10s infinite alternate linear;
}

@media (prefers-color-scheme: light) {
	body {
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
	}
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
