.container {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 400px;
    max-width: 700px;
    padding: 15px;
    justify-content: center;
    border-radius: 8px;
    background: #121121;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 4em;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1),
        0px 0px 10px rgba(255, 255, 255, 1),
        0px 0px 15px rgba(255, 255, 255, 1),
        0px 0px 20px rgba(255, 255, 255, 1),
        0px 0px 30px rgba(255, 255, 255, 1),
        0px 0px 40px rgba(255, 255, 255, 1),
        0px 0px 55px rgba(255, 255, 255, 1),
        0px 0px 75px rgba(255, 255, 255, 1);
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    gap: 30px;
}

h1 {
    width: 100%;
    text-align: center;
    color: white
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1 1 190px;
    width: 100%;
    max-width: 190px;
    height: 60px;
    outline: none;
    padding: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px solid #8f44fd;
    color: #8f44fd;
    background-color: transparent;
    letter-spacing: 1px;
    transition: background-color, border 0.2s ease-in-out;
    animation: zoomin 0.7s ease-in-out;
}

@keyframes zoomin {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

button .option {
    align-items: center;
    justify-content: right;
    margin-right: 0.5rem;
}

button:hover,
:focus {
    border: 3px solid #8f44fd;
    background-color: #5f22b91d;
    cursor: pointer;
}

button:disabled {
    pointer-events: none;
    opacity: 0.6;
}

button .icon {
    position: absolute;
    top: 25%;
    left: 10%;
}

button>img {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 40px;
    height: 40px;
}

.close {
    font-size: 1rem;
    color: darkgray;
    position: absolute;
    left: 5%;
    width: auto;
    height: auto;
    padding: 2px 7px;
    border-radius: 15px;
    border-color: darkred;
}

.close:hover {
    border: 3px solid darkred;
}

.stat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: darkgray
}


.loadgame {
    height: 20px;
    color: darkgray;
}

p {
    width: 100%;
    text-align: center;
}

.highlight {
    color: rgb(253, 251, 251);
    font-weight: bold;
}

button>p {
    text-align: right;
    margin-right: 10%;
}

.emoji {
    display: flex;
    background: rgb(0, 0, 0);
    width: 100%;
    justify-content: center;
    padding: 25px 25px 25px 0px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 #000000;
}

.emoji img {
    font-size: 3rem;
    width: 183px;
    height: 200px;
}

.stat img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media (max-width: 400px) {
    .box {
        font-size: 1.7em;
    }

    .options {
        gap: 20px;
    }

    button {
        max-width: 170px;
        font-size: 1.3rem;
    }
}

@media (max-height: 400px) {
    .box {
        font-size: 1.7em;
        width: 100%;
    }

    .close {
        top: 10%;
    }

    .emoji {
        height: 110px;
        padding: 10px 10px 10px 0px;
    }

    .emoji img {
        max-width: 50px;
        max-height: 80px;
    }

    .emoji div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .options {
        gap: 20px;
    }

    .stat {
        font-size: small;
    }

    button {
        max-width: 170px;
        font-size: 1.3rem;
    }
}