.action-container {
	position: absolute;
	right: 7px;
	top: 43px;
	display: flex;
	justify-content: space-around;
	margin: 0 7px;
}

.action-container i {
	font-size: 14px;
	padding: 7px;
	border-radius: 20px;
}
.username {
	top: 40px !important;
	right: 0 !important;
}
.password {
	top: 33px !important;
	right: 0 !important;
}
