.vault-container {
	display: flex;
	width: auto;
	place-items: start;
	gap: 15px;
}

.keychain-info {
	display: block;
	height: 30px;
	width: 100%;
	margin: 5px 0px;
	padding: 5px;
	border-radius: 5px;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	background-color: rgba(255, 255, 255, 0.07);
	border: 2px solid rgba(255, 255, 255, 0.1);
	font-size: 14px;
	font-weight: 300;
	transition: var(--transition);
}

.keychain-item {
	display: flex;
	align-items: center;
	place-content: start;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	transition: var(--transition);
}

.keychain-item + .details {
	background: transparent !important;
	cursor: default !important;
}

.header {
	width: 50px !important;
	height: 50px !important;
}

.keychain-item:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.keychain-item i {
	padding: 0 10px;
}

.logo-key {
	position: relative;
	margin-top: 15px;
	font-size: 20px;
	transition: var(--transition);
}
.logo-shield {
	position: absolute;
	left: 43%;
	opacity: 0.5;
	transition: var(--transition);
}

.keychain-item img {
	width: 35px;
	height: 35px;
	margin: 5px;
	position: relative;
	padding: 5px;
	border-radius: 30%;
	overflow: visible;
	transition: var(--transition);
}

.keychain-item a {
	color: currentColor;
	margin: unset;
	width: fit-content;
	overflow: hidden;
}

.keychain-item p {
	color: rgba(255, 255, 255, 0.4);
	padding: 0;
	margin: 0;
}

.vault-menu {
	display: flex;
	width: 65px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.menu {
	display: flex;
	text-decoration: none !important;
	align-items: center;
	justify-content: center;
	width: 35px !important;
	height: 35px !important;
	border-radius: 50% !important;
	font-size: 15px !important;
}

.keychain-item-header {
	width: 100%;
	padding: inherit;
	text-align: start;
}

.keychain-item-description {
	display: grid;
	width: 100%;
	padding: inherit;
	text-align: left;
}
.keychain-item-description div {
	display: flex;
	place-items: center;
}

.details > div > p {
	margin: 15px 5px;
	padding: 5px;
}
.keychain-item > div:first-child {
	width: 155px;
}

.vault-container > section > * {
	opacity: 0;
	animation: descend-opacity 0.5s forwards;
}

.vault-container > section > *:nth-child(1) {
	animation-delay: 0.1s;
}

.vault-container > section > *:nth-child(2) {
	animation-delay: 0.2s;
}

.vault-container > section > *:nth-child(3) {
	animation-delay: 0.3s;
}

.vault-container > section > *:nth-child(4) {
	animation-delay: 0.4s;
}

.vault-container > section > *:last-child {
	animation-delay: 0.5s;
}

.action-button {
	border: 1px solid var(--background-color);
	height: 30px;
	width: 30px;
	padding: 8px !important;
	text-align: center;
	background-color: var(--background-color);
	opacity: 0.4;
	color: currentColor;
	transition: var(--transition);
}

.rounded-right {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.action-button.active {
	background-color: var(--background-color);
	cursor: pointer;
	opacity: 1;
}

.action-button:hover:not(:disabled) {
	border-color: currentColor;
	background-color: var(--background-color);
}

.clipboard-status {
	position: absolute;
	width: 100%;
	display: flex;
	top: 120px;
	align-items: center;
	justify-content: center;
}

@media (max-width: 500px) {
	.vault-container {
		display: grid;
		gap: 0px;
	}
	.vault-menu {
		display: flex;
		width: 100%;
		flex-direction: row;
		gap: 10px;
		height: 65px;
		place-items: center;
	}
	.menu {
		width: 35px !important;
		height: 35px !important;
		padding: 0px !important;
		border-radius: 50% !important;
		font-size: 15px !important;
	}
}
