.password-strength div {
	border-radius: 5px;
	height: 7px;
	width: 14px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.password-strength {
	display: flex;
	align-items: center;
	justify-content: right;
	text-transform: capitalize;
	gap: 3px;
}
.password-strength p {
	margin: 0 5px 0 0;
	/* padding: 1px 5px;
	border: 1px solid;
	border-radius: 10px; */
}

.password-label {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: -10px;
	height: 25px;
}
