.toggle-container {
	display: -webkit-inline-box;
	position: relative;
	margin-bottom: 10px;
}
.input {
	display: none;
}

.label {
	display: block;
	margin-top: unset;
	width: var(--toggle-size);
	height: calc(var(--toggle-size) / 2);
	border-radius: calc(var(--toggle-size) / 4);
	border-radius: 13px;
	background-color: var(--background-color);

	transition: all 0.2s ease-in-out;
}

.button {
	display: block;
	position: absolute;
	top: 4px;
	left: 6px;
	width: calc(var(--toggle-size) / 2 - 8px);
	height: calc(var(--toggle-size) / 2 - 8px);
	border: var(--border);
	background-color: #ccc;
	border-radius: calc((var(--toggle-size) / 2 - 4px) / 2);
	border-radius: 11px;
	transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input:checked + .label .button {
	transform: translateX(calc(var(--toggle-size) / 2.5));
}

.input:checked + .label {
	background-color: var(--accent-color);
}

.input + .label:hover:not(.input:disabled) {
	box-shadow: 0px 0px 5px 1px white;
	cursor: pointer;
}
/* .input:checked + .label {
	box-shadow: 0px 0px 5px 1px white;
	color: black;
} */

.description-container {
	position: relative;
	margin-left: 8px;
}

.description {
	position: absolute;
	top: 0;
	left: 0;
	width: max-content;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.description-active {
	transform: translateX(50%);
	opacity: 0;
	width: max-content;
}

.offset-toggle {
	margin-top: -14px;
	margin-bottom: -10px;
}
