.vault-container {
	display: flex;
	width: auto;
	place-items: start;
	gap: 15px;
}

.vault-list {
	flex-direction: column;
	max-height: 433px;
	overflow: scroll;
	padding-right: 8px;
	scroll-behavior: smooth;
}

.keychain-info {
	display: block;
	height: 45px;
	width: 100%;
	margin: 5px 0px;
	margin-bottom: 15px;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.07);
	border: 2px solid rgba(255, 255, 255, 0.1);
	font-size: 14px;
	font-weight: 300;
	outline: none;
	transition: var(--transition);
}

.keychain-item {
	display: flex;
	align-items: center;
	place-content: start;
	margin: 5px 0;
	padding: 4px;
	border-radius: 5px;
	cursor: default !important;
	background-color: rgba(255, 255, 255, 0.1);
	transition: var(--transition);
}
.keychain-info + .action-button {
	position: relative;
	top: -1px;
	left: -2px;
	width: 38px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.header {
	width: 50px !important;
	height: 50px !important;
}
.card-icon {
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;

	font-size: 25px;
	padding: 2px 8px;
	margin: 0 5px 0 10px;
	border-radius: 10px;
	background: var(--background-color);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 20px 1px #ffbb763f;
}

.keychain-item:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.logo-key {
	position: relative;
	margin-top: 15px;
	font-size: 20px;
	transition: var(--transition);
}
.logo-shield {
	position: absolute;
	left: 43%;
	opacity: 0.5;
	transition: var(--transition);
}

.keychain-item img {
	width: 35px;
	height: 35px;
	margin: 5px;
	position: relative;
	padding: 5px;
	border-radius: 30%;
	transition: var(--transition);
}

.keychain-item a {
	color: currentColor;
	margin: unset;
}

.keychain-item p {
	color: rgba(255, 255, 255, 0.4);
	padding: 0;
	margin: 0;
}

.vault-menu {
	display: flex;
	width: 65px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.menu {
	display: flex;
	text-decoration: none !important;
	align-items: center;
	justify-content: center;
	width: 35px !important;
	height: 35px !important;
	border-radius: 50% !important;
	font-size: 15px !important;
}

.card-header {
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	cursor: default !important;
}

.card-header > a > .card-icon {
	font-size: 35px;
	padding: 5px 15px;
	border-radius: 50%;
	width: 50px !important;
	height: 50px !important;
	border: 5px solid rgba(255, 255, 255, 0.1);
}

.card-header > a > i {
	font-size: 14px;
}

.keychain-card-details {
	width: 72%;
	padding: inherit;
	text-align: start;
}

.keychain-item-description {
	display: grid;
	width: 100%;
	padding: inherit;
	text-align: left;
}
.keychain-item-description div {
	display: flex;
	place-items: baseline;
}

.keychain-label {
	width: 100%;
}

.details {
	flex-direction: column;
	background: transparent !important;
	padding: 0;
	cursor: default !important;
}

.details > div > p {
	padding: 5px;
}

.vault-container > div > * {
	opacity: 0;
	animation: descend-opacity 0.5s forwards;
}

.vault-container > div > *:nth-child(1) {
	animation-delay: 0.1s;
}

.vault-container > div > *:nth-child(2) {
	animation-delay: 0.2s;
}

.vault-container > div > *:nth-child(3) {
	animation-delay: 0.3s;
}

.vault-container > div > *:nth-child(4) {
	animation-delay: 0.4s;
}

.vault-container > div > *:nth-child(5) {
	animation-delay: 0.5s;
}
.vault-container > div > *:nth-child(6) {
	animation-delay: 0.6s;
}
.vault-container > div > *:nth-child(7) {
	animation-delay: 0.7s;
}
.vault-container > div > *:nth-child(8) {
	animation-delay: 0.8s;
}
.vault-container > div > *:nth-child(9) {
	animation-delay: 0.9s;
}
.vault-container > div > *:nth-child(10) {
	animation-delay: 1s;
}

.vault-list > * {
	opacity: 0;
	animation: descend-opacity 0.5s forwards;
}

.vault-list > *:nth-child(1) {
	animation-delay: 0.1s;
}

.vault-list > *:nth-child(2) {
	animation-delay: 0.2s;
}

.vault-list > *:nth-child(3) {
	animation-delay: 0.3s;
}

.vault-list > *:nth-child(4) {
	animation-delay: 0.4s;
}

.vault-list > *:nth-child(5) {
	animation-delay: 0.5s;
}
.vault-list > *:nth-child(6) {
	animation-delay: 0.6s;
}
.vault-list > *:nth-child(7) {
	animation-delay: 0.7s;
}
.vault-list > *:nth-child(8) {
	animation-delay: 0.8s;
}
.vault-list > *:nth-child(9) {
	animation-delay: 0.9s;
}
.vault-list > *:nth-child(10) {
	animation-delay: 1s;
}

.action-button {
	padding: 10px;
	text-align: center;
	opacity: 0.4;
	color: currentColor;
	transition: var(--transition);
}

.rounded-right {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.action-button.active {
	cursor: pointer;
	opacity: 1;
}

.action-button:hover:not(:disabled) {
	border-color: currentColor;
	background-color: var(--background-color);
}

.clipboard-status {
	position: absolute;
	width: 100%;
	display: flex;
	top: 96%;
	align-items: center;
	justify-content: center;
}

.clipboard-status p {
	color: currentColor;
	padding: 0 5px !important;
	margin-left: 5px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.07);
	border: 1px solid rgba(255, 255, 255, 0.1);
	gap: 5px;
}

@media (max-width: 500px) {
	.vault-container {
		display: grid;
		gap: 0px;
	}
	.vault-menu {
		display: flex;
		width: 100%;
		flex-direction: row;
		gap: 10px;
		height: 65px;
		place-items: center;
	}
	.menu {
		width: 35px !important;
		height: 35px !important;
		padding: 0px !important;
		border-radius: 50% !important;
		font-size: 15px !important;
	}
}
